<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Brooklyn Bites</title>

    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Pacifico|Open+Sans:400,300' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>

  </head>
<body>




 <body data-spy="scroll" data-target=".navbar">


    <!-- navbar starts here -->
    <nav class="navbar navbar-default navbar-fixed-top hidden-sm hidden-xs" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header pull-right">
          <button type="button" class="navbar-toggle" data-toggle="collapse" 
          data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav nav-right">
               <li><a href="/">Home</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/static_pages/contact">Contact</a></li>
                <li class="searchbar">
                  <%= form_tag("/products", method: "get") do %>
                    <%= label_tag(:q, "SEARCH FOR:", class: "search") %>
                    <%= text_field_tag(:q) %>
                    <%= submit_tag("SEARCH", class: "search") %>
                  <% end %>
                </li>
            </ul>
<!-- Authentication login and log out -->
            <ul class="nav pull-right">
              <li>
              <% if user_signed_in? %>
             <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
              <% else %>
              <%= link_to('Login', new_user_session_path) %>
              <% end %>
              </li>
            </ul>

          </div>
        </div>    
      </div> <!-- end navcontainer -->
    </nav> <!-- navbar ends here -->

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<!--HOME-->

    <div class="container-fluid hidden-sm hidden-xs" id="panel-main">

      <div class="homename container-fluid" id="home">

        <h1>Brooklyn &#8226 Bites</h1>
        <h3>Custom made sweets by local artisans in Brooklyn, NY</h3>

        <p>Handcrafted with love, delivered straight to your door.</p>

      </div>     
    </div><!--End Home Conatiner-->
<%= yield %>

        <footer class="container-fluid">
          <p>&copy; 2016 Brooklyn Bites</p>
        </footer> 




</body>
</html>
